{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2>Create Account</h2>
        <p class="subtext">
            Start your AI Career Journey
        </p>
        <form method="POST">
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password" name="password" placeholder="Create a password" required>
            <input type="password" name="confirm_password" placeholder="Confirm password" required>
            
            <p class="sub-text">Use atleast 6 characters</p>

            {% if error %}
                <p style="color:red; font-size:13px;">{{ error }}</p>
            {% endif %}
            <button type="submit">Sign up</button>
        </form>
        <p class="switch-auth">
            Already have an account? <a href="/login">Login</a>
        </p>
    </div>
</div>
{% endblock %}